<div class="landing">
  <div class="ads-wrapper">
    <div
      class="ad"
      *ngFor="let ad of allAds; let index = index"
      [ngClass]="'ad-' + (index + 1)"
      (click)="redirect(ad.category)"
    >
      <div class="ad-info">
        <h3>{{ ad.title }}</h3>
        <button mat-button class="action-button">
          {{ "ads.actionButton" | translate }}
        </button>
      </div>
      <img [src]="ad.imageUrl" />
    </div>
  </div>

  <div *ngIf="allProducts.length" class="carousel">
    <h3>{{ "general.bestSellers" | translate }}</h3>
    <app-product-carousel [products]="allProducts"></app-product-carousel>
  </div>
  <div class="social-media-wrapper">
    <div class="social-media">
      <a href="https://twitter.com/" target="_blank">
        <img
          src="assets/images/twitter.png"
          [alt]="'socialMedia.twitter' | translate"
        />
        <h5>{{ "socialMedia.followUs" | translate }}</h5>
        <h4>{{ "socialMedia.twitter" | translate }}</h4>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img
          src="assets/images/instagram.png"
          [alt]="'socialMedia.instagram' | translate"
        />
        <h5>{{ "socialMedia.checkInspirations" | translate }}</h5>
        <h4>{{ "socialMedia.instagram" | translate }}</h4>
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img
          src="assets/images/fb.png"
          [alt]="'socialMedia.facebook' | translate"
        />
        <h5>{{ "socialMedia.likeUsOn" | translate }}</h5>
        <h4>{{ "socialMedia.facebook" | translate }}</h4>
      </a>
      <a href="https://pinterest.com/" target="_blank">
        <img
          src="assets/images/pinterest.png"
          [alt]="'socialMedia.pinterest' | translate"
        />
        <h5>{{ "socialMedia.checkOurBoard" | translate }}</h5>
        <h4>{{ "socialMedia.pinterest" | translate }}</h4>
      </a>
    </div>
    <div class="newsletter">
      <img src="assets/images/envelope.png" />
      <h2>{{ "socialMedia.newsletter" | translate }}</h2>
      <h5>{{ "socialMedia.newsletterDesc" | translate }}</h5>
      <form
        [formGroup]="newsletterForm"
        class="input-wrapper"
        (submit)="subscribe()"
      >
        <input
          type="text"
          formControlName="email"
          [placeholder]="'contactForm.email' | translate"
          autocomplete="email"
        />
        <button
          [disabled]="newsletterForm.invalid"
          mat-flat-button
          color="primary"
        >
          {{ "socialMedia.subscribe" | translate }}
        </button>
      </form>
      <app-inline-errors
        [form]="newsletterForm"
        controlName="email"
      ></app-inline-errors>
    </div>
  </div>
</div>

<ng-template #newsletterTemplate>
  <div class="newsletter-modal">
    <h2>{{ "newsLetterForm.title" | translate }}</h2>
    <div>{{ "newsLetterForm.description" | translate }}</div>
  </div>
</ng-template>
