<div class="product-cart" *ngIf="product">
  <div class="product-cart__image">
    <img [src]="product.image" [alt]="product.title" />
  </div>
  <div class="product-cart__info">
    <div class="product-cart__info-title">
      <h3>{{ product.title }}</h3>
      <button type="button" (click)="removeProduct($event)" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="product-cart__info-price">{{ product.price | currency }}</div>
    <form>
      <mat-form-field>
        <input
          matInput
          type="number"
          min="1"
          id="myNumber"
          [(ngModel)]="amount"
          (ngModelChange)="updateAmount()"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </form>
  </div>
</div>
