<div class="product-cart" *ngIf="product">
  <div class="product-cart__image" (click)="goToProductDetails()">
    <img [src]="product.image" [alt]="product.title" />
  </div>
  <div class="product-cart__info">
    <div class="product-cart__info-title">
      <h3 (click)="goToProductDetails()">{{ product.title }}</h3>
      <button
        [title]="'cart.removeProduct' | translate"
        type="button"
        (click)="removeProduct($event)"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="product-cart__info-price">{{ product.price | currency }}</div>
    <app-amount [product]="product"></app-amount>
  </div>
</div>
