@import "variables";

header {
  width: 100%;
}

.top-bar {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: black;
}

.logo {
  color: var(--bg-color-light);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.top-bar__buttons button {
  font-size: 0.75rem;
  height: 100%;
}
