@import "variables";

header {
  width: 100%;
  position: fixed;
  z-index: 5000;
}

.top-bar {
  background: black;
}

.container {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4rem;
}

.logo {
  color: var(--bg-color-light);
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.top-bar__buttons {
  position: relative;
  button {
    font-size: 0.75rem;
    height: 100%;
  }
}

.cart-wrapper {
  position: absolute;
  right: 0;
  top: $header-height;
  z-index: 5000;
}
