<h2>
  <div class="container">
    {{ "general.checkout" | translate }}
  </div>
</h2>
<div class="container">
  <div class="checkout-wrapper">
    <mat-tab-group [selectedIndex]="activeTab">
      <mat-tab label="form" disabled *ngFor="let tab of tabs">
        <ng-template mat-tab-label>
          <mat-icon color="primary" *ngIf="tab.finished" class="tab-icon">
            check_circle
          </mat-icon>
          <mat-icon color="primary" *ngIf="!tab.finished" class="tab-icon">
            check_circle_outline
          </mat-icon>
          {{ tab.title }}
        </ng-template>
        <ng-container
          [ngTemplateOutlet]="tabContentTemplate"
          [ngTemplateOutletContext]="{ $implicit: tab }"
        ></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

  <app-order-summary></app-order-summary>
</div>

<ng-template #tabContentTemplate let-tab>
  <div *ngIf="tab.id === 0">
    Formularz! <button (click)="changeTab(tab)">next</button>
  </div>
  <div *ngIf="tab.id === 1">
    Płatność! <button (click)="changeTab(tab)">next</button>
  </div>
  <div *ngIf="tab.id === 2">Podsumowanie!</div>
</ng-template>
