.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

h2 {
  font-size: 1.5rem;
  color: var(--accent);
  height: 120px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
}

.products {
  flex: 1;
  margin-right: 2rem;

  .order-subtotal {
    height: 70px;
    background: #f4f4f4;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.125rem;
    padding: 0 2rem;
  }
}

.order-summary {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.summary {
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  margin-bottom: 2rem;

  h3 {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    .mat-icon {
      margin-right: 0.5rem;
      font-size: 1.3rem;
      height: 20px;
      display: flex;
      align-items: center;
    }
  }
  .summary-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  input {
    border: 1px solid var(--border-color);
    outline: 0;
    padding: 0.5rem;
  }

  .estimated-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);
  }
}
