h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.payment-wrapper {
  display: flex;

  & div:first-child {
    margin-right: 2rem;
  }
}

.payment-info {
  flex: 1;
  &__row {
    display: flex;
    padding: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    div:first-of-type {
      font-weight: bold;
      margin-right: 0.5rem;

      &:after {
        content: ": ";
      }
    }
  }
}

.payment {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;

  ngx-paypal {
    min-width: 500px;
    margin-bottom: 2rem;
  }

  .payment-info {
    min-width: 400px;
  }
}
