button {
  &.mat-button,
  &.mat-icon-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;

    .mat-icon {
      margin-right: 0.5rem;
      margin-left: -0.5rem;
      font-size: 17px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//custom darker primary button

.mat-button.mat-primary-dark,
.mat-stroked-button.mat-primary-dark {
  color: var(--primary-dark);
}
.mat-button.mat-primary-dark:hover,
.mat-stroked-button.mat-primary-dark:hover {
  background-color: var(--bg-color-light);
}

.mat-raised-button.mat-primary-dark,
.mat-flat-button.mat-primary-dark,
.mat-fab.mat-primary-dark,
.mat-mini-fab.mat-primary-dark {
  color: var(--bg-color-light);
  background-color: var(--primary-dark);
}

.mat-icon-button.mat-primary-dark {
  color: var(--primary-dark);
}

.cdk-overlay-container {
  z-index: 6000;
}
