button {
  &.mat-button,
  &.mat-icon-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;

    .mat-icon {
      margin-right: 0.5rem;
      margin-left: -0.5rem;
      font-size: 17px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//custom darker primary button

.mat-button.mat-primary-dark,
.mat-stroked-button.mat-primary-dark {
  color: var(--primary-dark);
}
.mat-button.mat-primary-dark:hover,
.mat-stroked-button.mat-primary-dark:hover {
  background-color: var(--bg-color-light);
}

.mat-raised-button.mat-primary-dark,
.mat-flat-button.mat-primary-dark,
.mat-fab.mat-primary-dark,
.mat-mini-fab.mat-primary-dark {
  color: var(--bg-color-light);
  background-color: var(--primary-dark);
}

.mat-icon-button.mat-primary-dark {
  color: var(--primary-dark);
}

.cdk-overlay-container {
  z-index: 6000;
}

.owl-carousel .owl-stage-outer {
  overflow-y: visible;
  overflow-x: hidden;
  overflow: unset;
}

.ngx-datatable .datatable-body .datatable-row-wrapper {
  padding: 1rem 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }
}

.mat-tab-label {
  flex: 1;
  border: 1px solid var(--border-color);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
  height: 70px !important;
  opacity: unset !important;

  .mat-icon {
    margin-right: 0.3rem;
    margin-left: -0.3rem;
    font-size: 1.31rem;
    height: unset;
  }

  &.mat-tab-disabled {
    color: #000;
  }

  &:not(:last-of-type) {
    border-right: 0;
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0rem;
}

.mat-divider {
  margin: 1rem 0 0.5rem !important;
}
