@use "@angular/material" as mat;
@import "./variables.scss";

$custom-typography: mat.define-typography-config(
  $font-family: $primary-font,
);

@include mat.core($custom-typography);

$shoplifter-primary: mat.define-palette(mat.$deep-orange-palette, 500);
$shoplifter-accent: mat.define-palette(mat.$gray-palette, 800);
$shoplifter-warn: mat.define-palette(mat.$red-palette);

$shoplifter-theme: mat.define-light-theme(
  (
    color: (
      primary: $shoplifter-primary,
      accent: $shoplifter-accent,
      warn: $shoplifter-warn,
    ),
  )
);

@include mat.all-component-themes($shoplifter-theme);

$primary: mat.get-color-from-palette($shoplifter-primary, "default");
$primary-darker: mat.get-color-from-palette($shoplifter-primary, 800);
$accent: mat.get-color-from-palette(mat.$gray-palette, "default");
$warn: mat.get-color-from-palette(mat.$red-palette, "A700");

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-darker};
  --accent: #{$accent};
  --warn: #{$warn};
  --bg-color-light: #fff;
  --bg-color-dark: #0101001;
}
