<div class="review">
  <h2>{{ "review.paymentSuccessful" | translate }}</h2>
  <h3>{{ "review.thankYou" | translate }}</h3>
  <p>
    Here it should say that we will send you your order soon, but unfortunately
    it is just a fake store.
  </p>
  <p>
    If you are a recruiter and you like this online store, my email address is:
    <a href="mailto:alicja.x.lukaszewska@gmail.com"
      >alicja.x.lukaszewska@gmail.com</a
    >
  </p>
  <p>
    I am currently looking for a job as a Front End Developer, mainly with Vue.
  </p>
  <p>Thank you for taking the time to do this demo and may I see you again!</p>

  <button [routerLink]="['/']" mat-flat-button color="primary">
    {{ "common.backToMain" | translate }}
  </button>
</div>
